<!-- Header -->
{% assign header_class = '' %}
{% if page.layout == 'landing' %}{% assign header_class = ' class="alt"' %}{% endif %}
<header id="header"{{ header_class }}>
  <h1>
    <a href="{{ site.baseurl }}/index.html">
      <img src="{{ '/images/logo.svg' | prepend: site.baseurl }}"
           alt="{{ site.title }}"
           style="height: 2em; vertical-align: middle; filter: brightness(0) invert(1);" />
    </a>
  </h1>
  <nav id="nav">
    <ul>
      <li><a href="#about" class="scrolly">О компании</a></li>
      <li><a href="#products" class="scrolly">Продукты</a></li>
      <li><a href="#technologies" class="scrolly">Технологии</a></li>
      <li><a href="#contacts" class="scrolly">Контакты</a></li>
    </ul>
  </nav>
</header>
